.section {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  gap: 2rem;
}

#hero-image {
  width: 516px;
  height: 384px;
  object-fit: cover;
}

.testimonial {
  background-color: #231e1e;
  color: white;
  font-size: 1.4rem;
  line-height: 1.9rem;
}
#author {
  opacity: 60%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

form {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 2rem;
}

blockquote {
  margin: 0;
}

.default-btn {
  background-color: #dac2f2;
  color: black;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1rem 3rem;
  border: none;
  border-radius: 99px;
  cursor: pointer;
}

.input-group {
  display: flex;
  gap: 1rem;
}

.input-field {
  background-color: #f1f0f0;
  width: 416px;
  color: black;
  text-align: left;
  font-size: 0.9rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 99px;
}

#confirmation {
  color: #5edc4b;
}
